{% extends "ccenter/base.html" %}
{% load static %}


<!-- CONTENT -->
{% block content %}

<h1>{{ page.header }}</h1>
<h4>{{ page.sub_title }}</h4>


<div>
<!-- form action="{% url 'ccenter:page' page.id %}" method="post" -->
<form action="" method="post">
{% csrf_token %}


<div class="debug">
Count of sections: {{ page.sections.all|length }}<br/>
</div>

{% for section in sections %}

	<div class="inline-group" id="section-{{ section.id }}-group">
		<br/>
		<div class="inline-related">
			<h2>{{ section.header }}</h2>
			<div class="debug">
				Count of entities: {{ section.entities.all|length }}<br/>
			</div>
			{% for entity in section.entity_list %}
				{% if entity.entity_type < 2 %}
					<div class="debug">
						Entity of a single value (including dropdown)<br/>
					</div>
					
					{{ entity.value_definitions.0.values_formset.management_form }}
					
					{% for form in entity.value_definitions.0.values_formset %}
						
						{% for hidden in form.hidden_fields %}
					        {{ hidden }}
					    {% endfor %}
					    
					    <span>
					    	{{ form.order.as_hidden }}
					    	{{ form.value_type.as_hidden }}
					    </span>
					    
					    <div class="debug">
					    	{{ form.instance.value_type }}
					    </div>
					    
						{% if form.errors %}
							{{ form.errors.as_ul }}
							<br/>
						{% endif %} 
						
						{% include "ccenter/field.html" %}	
						
						
	                    {% if form.value_field.field.help_text %}
	                        <p class="help">{{ entity.description|safe }}</p>
	                    {% endif %}
	                    
					{% endfor %}
				
				{% else %}
					<div class="debug">
						Entity of a multiple values (grid)<br/>
					</div>
	<h4>{{ entity.header }}</h4>
	<table>
		<thead><tr>
		{% for vdef in entity.value_definitions %}
			{% if not vdef.is_hidden %}
	        	<th class="required">{{ vdef.label|capfirst }}
	        	{% if vdef.help_text %}&nbsp;<img src="{% static "ccenter/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ vdef.help_text|striptags }})" title="{{ vdef.help_text|striptags }}" />{% endif %}
	         	</th>
	       {% endif %}
		{% endfor %}
		<!-- Add the Can Delete option here (checkbox for deletion). see Tabular.html -->
		</tr></thead>
		<tbody>
			<!-- non_field_errors here, as a <tr> -->
			{% for row in entity.rows %}
			{{ row.values_formset.management_form }}
			<tr class="form-row {% cycle 'row1' 'row2' %}"
				id="row-{{ row.index }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
				<td class="original">
		          <input name="row{{ row.id }}-{{ forloop.counter0 }}-id" id="id_row{{ row.id }}-{{ forloop.counter0 }}-id" type="hidden" value="{{ row.id }}">
		          
		        </td>
		        
				{% for form in row.values_formset %}
		        
		        <td>
					 {% if form.instance.value_type == 'boolean_value' %}
						{{ form.boolean_value.errors }}
						{{ form.boolean_value }}
					 {% elif form.instance.value_type == 'integer_value' %}
					   		{{ form.integer_value.errors }}
					       	{{ form.integer_value }}
				     {% else %}
				       	{{ form.char_value.errors }}
				       	{{ form.char_value }}
				     {% endif %}
				</td>
		        
				
				{% endfor %} 
			
			</tr>
			{% empty %}
			No rows
			{% endfor %} 
		</tbody>
	</table>
					
				{% endif %}
				
			{% endfor %}	<!-- Entity -->
		</div>
	</div>
{% endfor %} <!-- Section -->

<br/>

<button type="submit" class="save btn btn-default">Save</button>
</form>
</div>

{% endblock %}








