{% load i18n admin_static %}

<h1>{{ page.title }}</h1>
<h4>{{ page.sub_title }}</h4>


<div>
<!-- form action="{% url 'ccenter:page' page.id %}" method="post" -->
	<form action="" method="post">
	{% csrf_token %}

		{% for ent in page.entities %}
		<div class="inline-group" id="ent-{{ ent.id }}-group">
			<h2>{{ ent.title }}</h2>
			<hr>
			
				{% if ent.value_type == 0 %}
					{{ ent.values_formset.management_form }}
					
					{% for form in ent.values_formset %}
						{% for hidden in form.hidden_fields %}
					        {{ hidden }}
					    {% endfor %}
						<br/>
	
						{% if form.instance.value_type = 'boolean_value' %}
							{{ form.boolean_value.errors }}
	                        {{ form.boolean_value }} <label for="{{ form.boolean_value.id_for_label }}"> ent.title</label>
	                    {% else %}
	                        {% if form.instance.value_type = 'integer_value' %}
	                       		{{ form.integer_value.errors }}
	                       		<label for="{{ form.integer_value.id_for_label }}">integer: </label>
	                           	{{ form.integer_value }}
	                        {% else %}
	                           	{{ form.char_value.errors }}
	                           	<label for="{{ form.char_value.id_for_label }}">char: </label>
	                           	{{ form.char_value }}
	                        {% endif %}
	                    {% endif %}
	                    
					{% endfor %}
				
			{% endfor %}
		</div>
	
		{% endfor %}
		<button type="submit" class="save btn btn-default">Save</button>
	</form>
</div>